<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>title</title>
  <link rel="stylesheet" href="./style.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
  <div id="app">

    <!--ヘッダー-->
    <header>
      <h1><img src="image/koto_logo.png" alt="ことメディカル"></h1>
      <div id="head">
        <p class="header">
          ことメディカルは<br>
          職業紹介優良事業者として<br>
          公式認定を受けています。
        </p>
        <img class="header" src="image/nintei_kanmuri.png">
      </div>
    </header>
    <!--/ヘッダー-->


    <div id="wrapper1">
      <!--メイン部分-->
      <div id="main">
        <h2>
          業界専門のコンサルタントと<br>
          地域密着ならではの情報量で<br>
          納得感のある転職を。
        </h2>

        <div id="list">
          <p class="list-text">✔︎ご利用は全て無料</p>

          <p class="list-text">✔︎豊富なハローワーク日掲載求人</p>

          <p class="list-text">✔︎高給与・高待遇求人多数！</p>

          <p class="list-text">✔︎介護有資格者限定求人も！</p>
        </div>

        <!--下部の文字2行-->

        <div id="to-roku">
          <p class="border">無料</p>
          <p class="content1">かんたん登録</p>
          <p class="border">60秒</p>
        </div>

        <div id="content2">
          <p class="content2">ことメディカルは親切・丁寧をお約束します。</p>
        </div>
        <!--下部の文字2行end-->

      </div>
      <!--メイン部分end-->


      <!--入力フォーム-->
      <form action="" method="POST" id="form_wrapper">
        <ol class="stepBar">
          <li v-for="n in 5" :key="n" :class="{'visited': n <= formStep}">
            <span>
              {{n}}
            </span>
          </li>

        </ol>
        <div class="form-content">
          <transition name="fade" mode="out-in">
            <div v-if="formStep == 1">
              <span class="need">必須</span><strong class="input_title">ご希望の働き方</strong>
              <div class="group">
                <div class="group-item">
                  <input type="checkbox" id="formal_1" value="正社員（夜勤可）" v-model="inputData.step1.work_style">
                  <label for="formal_1">正社員(夜勤可)</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="formal_2" value="正社員（日勤のみ）" v-model="inputData.step1.work_style">
                  <label for="formal_2">正社員（日勤のみ）</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="part" value="パート" v-model="inputData.step1.work_style">
                  <label for="part">パート</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="else" value="その他" v-model="inputData.step1.work_style">
                  <label for="else">その他</label>
                </div>
              </div>

              <br>

              <span class="need">必須</span><label for="season"><strong class="input_title">ご希望の転職時期</strong></label>
              <div class="selectbox">
                <select name="season" id="" v-model="inputData.step1.season" class="group">
                  <option v-for="season in seasons" :key="season">
                    {{season}}
                  </option>
                </select>
              </div>
            </div>



            <div v-if="formStep == 2">
              <span class="need">必須</span><strong class="input_title">現在お持ちの資格</strong>
              <div class="group">
                <div class="group-item">
                  <input type="checkbox" id="drive" value="自動車免許" v-model="inputData.step2">
                  <label for="drive">自動車免許</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="care_worker" value="介護福祉士" v-model="inputData.step2">
                  <label for="care_worker">介護福祉士</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="begginer" value="初任者研修" v-model="inputData.step2">
                  <label for="begginer">初任者研修</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="practitioner" value="実務者研修" v-model="inputData.step2">
                  <label for="practitioner">実務者研修</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="care_manager" value="ケアマネ" v-model="inputData.step2">
                  <label for="care_manager">ケアマネ</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="social_worker" value="社会福祉士" v-model="inputData.step2">
                  <label for="social_worker">社会福祉士</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="psychiatric" value="精神保健福祉士" v-model="inputData.step2">
                  <label for="psychiatric">精神保健福祉士</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="child_minder" value="保育士" v-model="inputData.step2">
                  <label for="child_minder">保育士</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="else2" value="その他" v-model="inputData.step2">
                  <label for="else2">その他</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="none2" value="特になし" v-model="inputData.step2">
                  <label for="none2">特になし</label>
                </div>
              </div>
            </div>
            <div v-if="formStep == 3">
              <span class="need">必須</span><label for="about_job"><strong class="input_title">現在の職務内容</strong></label>
              <br>
              <div class="selectbox">
                <select name="about_job" v-model="inputData.step3.about_job" class="group">
                  <option v-for="job in about_job">
                    {{job}}
                  </option>
                </select>
              </div>
              <!-- <input type="text" id="about_job" v-model="inputData.step3.about_job"> -->
              <br><br>
              <span class="need">必須</span><strong>ご希望の職種</strong>
              <div class="group">
                <div class="group-item">
                  <input type="checkbox" id="care_work" value="介護職" v-model="inputData.step3.aspiring">
                  <label for="care_work">介護職</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="home_visit" value="訪問介護" v-model="inputData.step3.aspiring">
                  <label for="home_visit">訪問介護</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="responsibility" value="サ責" v-model="inputData.step3.aspiring">
                  <label for="responsibility">サ責</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="advisor" value="相談役" v-model="inputData.step3.aspiring">
                  <label for="advisor">相談役</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="manager" value="管理職" v-model="inputData.step3.aspiring">
                  <label for="manager">管理職</label>
                </div>
                <div class="group-item">
                  <input type="checkbox" id="else3" value="その他" v-model="inputData.step3.aspiring">
                  <label for="else3">その他</label>
                </div>
              </div>
            </div>

            <div v-if="formStep == 4" class="step4">
              <span class="need">必須</span><strong class="input_title">お住まい</strong>
              <br>
              <div id="prefectures">
                <select name="prefecture" v-model="inputData.step4.prefecture" class="input_parts"
                  @change="searchCity(inputData.step4.prefecture)">
                  <option value="">都道府県選択</option>
                  <option v-for="(city , index) in citys" :key="index">
                    {{city.name}}
                  </option>
                </select>
                <select name="city" v-model="inputData.step4.city" class="input_parts">
                  <option value="">市町村選択</option>
                  <option v-if="inputData.step4.prefecture" v-for="city in selected_city" :key="selected_city.citycode">
                    {{city.city}}
                  </option>
                </select>
              </div>
              <br>
              <br>
              <span class="need">必須</span><strong class="input_title">基本情報</strong>
              <br>
              <div class="text-center">
                <label for="name">お名前</label><input type="text" id="name" v-model="inputData.step4.info.name"
                  class="text_input">
              </div>
              <br>
              <br>
              <div class="text-center">
                <div class="birthday">
                  <label for="birthday">誕生年</label>
                  <select name="birthday" v-model="inputData.step4.info.birthday" class="text_input">
                    <option v-for="year in birthday">
                      {{year}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div v-if="formStep == 5" class="step5">
              <div class="text-center">
                <strong class="input_title">ご連絡先</strong>
              </div>
              <br>
              <span class="need">必須</span>
              <label for="tel">電話番号</label>
              <br>
              <input type="tel" id="tel" v-model="inputData.step5.tel" class="text_input">
              <br>
              <br>
              <span class="choose">任意</span>
              <label for="email">メールアドレス</label>
              <input type="email" id="email" v-model="inputData.step5.email" class="text_input">
              <br>
              <br>
              <span class="choose">任意</span>
              <label for="line">LINE ID</label>
              <input type="text" 　id="line" v-model="inputData.step5.line" class="text_input">
            </div>
          </transition>
        </div>
        <div class="text-center">
          <ul style="color: red;">
            <li v-for="error in errors">
              {{error}}
            </li>
          </ul>
        </div>
        <div v-if="formStep < 5" class="form_step_item">
          <span class="step_back" v-if="formStep > 1" @click="changeFormStep(-1)">戻る</span>
          <!-- <span class="step" @click="changeFormStep(1)">次のステップへ</span> -->
          <span class="step" @click="validation()">次のステップへ</span>
        </div>

        <div v-else>
          <div class="text-center">
            <small>利用規約に同意して</small>
          </div>

          <div class="form_step_item">
            <button @click="changeFormStep(-1)">戻る</button>
            <button type="submit" class="final">お仕事探しをスタート！</button>
          </div>

        </div>

      </form>
      <br>
      <!--入力フォームend-->


      <!--フッター-->
      <footer>
        <!--
          先頭に移行しました 
          <div id="app"> 
        -->


        <div id="wrapper">
          <!--会社概要　-->
          <button id="modal-open-btn" @click.prevent.stop="openModal1">
            会社概要</button>
          <transition name="fade">
            <div v-if="isOpenModal1" class="modal-overlay">
              <div id="modal">
                <button id="modal-close-btn" @click.prevent.stop="closeModal1">✖️</button>
                <div class="modal-conetnt">
                  <p>
                    ・運営会社<br>
                    株式会社コムライズ<br>
                    ・事業内容<br>
                    医療・福祉業界に特化した求人メディア運営、転職支援サービス<br>
                    ・本社所在地<br>
                    京都市中京区尾張町225<br>
                    TEL:075-708-3252
                  </p>
                </div>
              </div>
            </div>
          </transition>

          <!--利用規約-->
          <button id="modal-open-btn" @click.prevent.stop="openModal2">
            利用規約</button>
          <transition name="fade">
            <div v-if="isOpenModal2" class="modal-overlay">
              <div id="modal">
                <button id="modal-close-btn" @click.prevent.stop="closeModal2">✖️</button>
                <div class="modal-conetnt">
                  <p>
                    <br>
                    株式会社コムライズ（以下、当社）が提供するサービスへお申し込みいただくにあたり、以下の利用規約（以下、本規約）についてご理解、ご承諾の上、お申し込みいただきますよう宜しくお願い致します。<br>
                    <br>
                    第1条（ことメディカル）<br>
                    「ことメディカル」（以下、「当サービス」といいます。）とは、当社が提供する以下各号に定めるサービスの総称です。<br>
                    <br>
                    （1）転職支援サイトサービス<br>
                    インターネットを通じて提供する医療人材の転職支援サイトのことをいいます。<br>
                    <br>
                    （2）転職活動サポートサービス<br>
                    利用者（求職者）からのお申し込み内容と求人施設・企業の求人条件のマッチング、コンサルタントによる面談・転職相談、求人案件の紹介と転職支援活動、求人施設との折衝業務の代行、その他利用者にとって有益と判断するサービスの総称のことをいいます。
                    当社は、当サービスの提供のため利用者に対し、電子メールや電話、郵便により連絡をすることができます。<br>
                    第2条（利用者）<br>
                    （1）利用者とは、本規約および「個人情報の取り扱いについて」の内容に同意の上、当サービスの利用を申し込み、かつ当社が当サービスの利用を承認した方をいいます。<br>
                    <br>
                    （2）利用者は、当サービスの利用を申し込んだ時点で本規約の内容および「個人情報の取り扱いについて」の内容をすべて承諾したものとみなします。<br>
                    <br>
                    （3）お預かりした個人情報が不足している場合、当社の当サービスを提供できない場合があります。<br>
                    第3条（当サービスの利用申し込みと審査）<br>
                    （1）当社は、申し込まれた方について審査を行うことがあり、この場合、当社が承認した場合にのみ、当サービスの利用申し込みが完了します。<br>
                    <br>
                    （2）当社は、当サービス利用の申し込みをされた方について、当サービスを提供することが不適切と判断した場合、いつでもその利用をお断りすることができるものとします。また、その判断に関する質問等への回答およびその他一切の対応を行う義務はないものとします。<br>
                    <br>
                    （3）前各項に掲げる内容から発生する一切の損害について、当社は何らその責任を負わないものとします。<br>
                    第4条（サービスの提供）<br>
                    当サービスは、以下のサービスの中から利用者に適切なサービスを、当社の判断により提供するものとします。<br>
                    <br>
                    （1）電話や面談による転職相談<br>
                    （2）キャリアパートナーによる転職支援活動<br>
                    （3）利用者からのお申し込み内容と求人施設・企業の求人条件のマッチング<br>
                    （4）求人案件の紹介<br>
                    （5）求人施設・企業との折衝業務の代行（応募から入職・入社まで）<br>
                    （6）電子メールや電話、郵便等での当サービスに付随する情報の発信<br>
                    （7）その他利用者の転職活動に有益と当社が判断する一切のサービス<br>
                    第5条（個人情報の取り扱い）<br>
                    当社は、別途定める「個人情報の取り扱いについて」に従い、利用者の個人情報を適切に収集・利用・提供・管理いたします。<br>
                    第6条（求人のマッチング）<br>
                    当社は、利用者の希望や申し込み内容と求人施設・企業が希望する求人条件とをマッチングしますが、その検討基準や判断の根拠・理由などをお伝えすることはできません。<br>
                    第7条（労働条件の明示方法）<br>
                    求人紹介に際しては、利用者に、従事すべき業務の内容、賃金、労働時間、その他の労働条件を、あらかじめ所定の求人票または電子メールの使用により明示します。<br>
                    ただし、紹介の実施について緊急の必要があるため、あらかじめ所定の求人票または電子メールの使用による明示ができないときは、これらの方法以外の方法により明示するものとします。<br>
                    第8条（利用者の禁止事項）<br>
                    利用者は、当サービスの利用申し込み時、および当サービスを利用する際に、以下の行為をしてはならないものとします。<br>
                    <br>
                    （1）虚偽の情報を申告・提供する行為<br>
                    （2）当社および当社の事業に関わる関係者や他の利用者または第三者を誹謗・中傷、侮辱する行為<br>
                    （3）当社および当社の事業に関わる関係者や他の利用者または第三者の財産、名誉、プライバシーや著作権、商標権、その他の知的所有権を含む一切の権利を侵害する行為<br>
                    （4）当サービスの運営を妨げる行為もしくは当社の社会的信用・評価を毀損する行為<br>
                    （5）当サービスで取得した情報を第三者に漏洩・開示する行為<br>
                    （6）公序良俗や法令に違反する行為、またはその恐れがある行為<br>
                    第9条（サービス提供の停止・終了）<br>
                    （1）利用者が本規約に違反したと当社が判断した場合、または、利用者と当社との信頼関係が維持できないと当社が判断した場合、当社は当該利用者に何らの催告を要することなく、即時に当サービスの提供を停止し、または終了することができるものとします。これにより発生する一切の損害について当社は何らの責任も負わないものとします。なお、本項の定めは、当社の当該利用者に対する損害賠償請求を妨げるものではありません。<br>
                    <br>
                    （2）前項の場合において、当社はその判断に関しての質問等への回答その他一切の対応を行う義務はないものとします。<br>
                    <br>
                    （3）利用者から当サービス提供の終了のお申し出を受けた場合については、合理的な範囲内で速やかに当サービスの提供を終了いたします。<br>
                    第10条（当サービスの変更・中断）<br>
                    当社は、以下のいずれかに該当する場合は、利用者への通知・承諾なく当サービスの全部もしくは一部を変更、または一時中断することがあります。<br>
                    <br>
                    （1）当サービスを提供するためのシステム等の保守、点検、更新、その他緊急の必要性がある場合<br>
                    <br>
                    （2）通常の安全対策では防止が不可能なシステム障害やウイルス被害、地震・火災・停電等不可抗力により当サービスの提供が困難になった場合<br>
                    <br>
                    （3）その他不測の事態により、当サービスの提供が困難と当社が判断した場合<br>
                    第11条（利用者の責任と免責事項）<br>
                    （1）当サービスの利用は、利用者が自己の責任にもとづいて行うものとします。<br>
                    <br>
                    （2）利用者は、当サービスの利用に際し、当社に提供した情報について一切の責任を負うものとします。<br>
                    <br>
                    （3）利用者の当サービスの利用が、必ず転職に成功する等の有効性を保証するものではありません。<br>
                    <br>
                    （4）利用者は、利用者の責任において、入職・入社後の仕事内容や労働条件を直接求人施設・企業に確認し雇用契約を結ぶものとします。当社は求人施設・企業に確認を行なうものの当該雇用契約の内容を最終的に保障するものではありません。<br>
                    <br>
                    （5）当社は、当サービスの利用にあたり利用者に生じた一切の損害について責任を負わないものとします。<br>
                    第12条（損害賠償）<br>
                    利用者が当サービスの利用に際し、当社、当社の関係者または第三者に対し損害を与えた場合、利用者はその損害を賠償し、当社を免責するものとします。<br>
                    第13条（本規約の変更）<br>
                    当社は、必要に応じて利用者の承諾を得ることなく本規約の内容を変更することができるものとします。<br>
                    第14条（定めのない事項）<br>
                    本規約に定めのない事項は、日本の法令の定めに従い、利用者と当社との間において、互いに誠意をもって協議し解決することとします。<br>
                    第15条（管轄裁判所）<br>
                    万が一、当サービスおよび本規約の各事項に関連して紛争が生じた場合は、京都市地方裁判所を専属的合意管轄裁判所とします。<br>
                    （付則）制定：2015年7月1日<br>
                    　　最終改定：2018年3月8日<br>
                    ＜お問い合せ先＞<br>
                    株式会社コムライズ<br>
                    〒604-0934　京都市中京区麸屋町通二条下ル尾張町２２５番地<br>
                    TEL：075-708-3252
                  </p>
                </div>
              </div>
            </div>
          </transition>

          <!--個人情報保護方針-->
          <button id="modal-open-btn" @click.prevent.stop="openModal3">
            個人情報保護方針</button>
          <transition name="fade">
            <div v-if="isOpenModal3" class="modal-overlay">
              <div id="modal">
                <button id="modal-close-btn" @click.prevent.stop="closeModal3">✖️</button>
                <div class="modal-conetnt">
                  <p>
                    <br>
                    株式会社コムライズでは、人材サービス業を営む企業として、個人情報は大切な資産のひとつと考えております。
                    個人情報を適切に管理すべく、以下の「個人情報保護方針」を定め、個人情報保護の取り組みを行い、皆様に安全・安心を提供できるように努力することを宣言します<br>
                    <br>
                    １．
                    個人情報を収集する場合には、事前に情報提供者の同意を得ることとします。また、個人情報保護を適切に行なうために、事業目的を達成する範囲内でのみ個人情報の収集、利用、提供および預託を行います。<br>
                    ２． 当サイトを通じて、お客様の個人情報をご登録いただく際には、SSL（Secure Sockets Layer）による暗号化技術を利用し、機密性の保全を図ります。<br>
                    ３． 当サイトを通じてご登録いただいた個人情報を安全に管理・運営するため、不当なアクセスや個人情報の紛失、破壊、改竄、漏洩などへの危険防止に対する合理的且つ適切な安全対策を行います。<br>
                    ４． 当サイトでは、お客様の利便性向上・適切な広告配信・利用状況の統計データ取得のために、Cookie（クッキー）、およびWebビーコンを使用いたします。<br>
                    Cookie（クッキー）・Webビーコンの使用により、個人が不当に特定されるようなことは一切ありません。<br>
                    Cookieを受付けない設定や、画像を表示しない設定にしてご利用いただく場合、当サイトで提供している機能の一部がご利用できなくなる場合がございます。<br>
                    ５． 当社は、情報管理部リーダーを個人情報の管理責任者とし、適切な個人情報の保護に努めます。<br>
                    ６． 登録者個人に関する情報の取扱について規程を定め、組織体制を整備し、個人情報の適切な保護に努めます。<br>
                    ７． 保有する全ての個人情報に関して適用される法令、規範を遵守するとともに、上記各項における保護活動に真摯に取組み、維持、改善してまいります。<br>
                    個人情報に関するお問い合わせ対応<br>
                    <br>
                    個人情報についての訂正、開示、削除（または利用停止）のお申し出には、速やかに対応致します。<br>
                    弊社の個人情報の取り扱いに対するご質問及びお客様ご自身の個人情報については、下記連絡先までお問い合わせ下さい。<br>
                    <br>
                    Mail：info●koto-medical.jp（●を@に変更してください）<br>
                    Tel：075-708-3252（個人情報担当者宛）<br>
                    株式会社コムライズ
                  </p>

                </div>
              </div>
            </div>
          </transition>
        </div>

    </div>
    <p class="footer">Comrise,Co.Ltd</p>

    </footer>
    <!--フッターend-->
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./city_data.js"></script>
  <script>
    function createApp() {
      new Vue({
        el: "#app",
        data: {
          errors: [],
          seasons: [
            "良い求人があり次第",
            "一ヶ月以内",
            "二ヶ月以内",
            "三ヶ月以内",
            "六ヶ月以内",
            "六ヶ月より先"
          ],
          about_job: [
            "一般介護職",
            "介護職主任以上",
            "管理職",
            "相談役・ケアマネ",
            "その他"
          ],
          birthday: null,
          selected_city: null,
          citys: null,
          isOpenModal1: false,
          isOpenModal2: false,
          isOpenModal3: false,
          // 追加分
          formStep: 1,
          inputData: {
            step1: {
              work_style: [],
              season: null
            },
            step2: [],
            step3: {
              about_job: null,
              aspiring: []
            },
            step4: {
              prefecture: null,
              city: null,
              info: {
                name: null,
                birthday: null
              },
            },
            step5: {
              tel: null,
              email: null,
              line: null
            }
          }
        },
        computed: {
          isStepped(step) {
            if (step >= formStep) {
              return true
            }
            return false
          }
        },
        methods: {
          openModal1() {
            this.isOpenModal1 = true
          },
          closeModal1() {
            this.isOpenModal1 = false
          },
          openModal2() {
            this.isOpenModal2 = true
          },
          closeModal2() {
            this.isOpenModal2 = false
          },
          openModal3() {
            this.isOpenModal3 = true
          },
          closeModal3() {
            this.isOpenModal3 = false
          },
          // 追加分
          changeFormStep(value) {
            this.formStep += value
            this.errors = []
          },
          validation() {
            this.errors = []

            console.log(this.formStep)
            if (this.formStep == 1) {
              if (this.inputData.step1.work_style.length == 0) {
                this.errors.push("ご希望の働き方を選択してください")
              }
              else if (this.inputData.step1.season == null) {
                this.errors.push("ご希望の転職時期を選択してください")
              }
              else {
                this.changeFormStep(1)
              }

            }
            else if (this.formStep == 2) {
              if (this.inputData.step2.length == 0) {
                this.errors.push("いずれかを選択してください")
              }
              else {
                this.changeFormStep(1)
              }
            }
            else if (this.formStep == 3) {
              if (this.inputData.step3.about_job == null) {
                this.errors.push("現在の職務内容についていずれかを選択してください")
              }
              else if (this.inputData.step3.aspiring.length == 0) {
                this.errors.push("ご希望の職種について選択してください")
              }
              else {
                this.changeFormStep(1)
              }
            }
            else if (this.formStep == 4) {
              if (this.inputData.step4.prefecture == null) {
                this.errors.push("お住まいの都道府県について選択してください")
              }
              else if (this.inputData.step4.city == null) {
                this.errors.push("いずれかを選択してください")
              }
              else if (this.inputData.step4.info.name == "") {
                this.errors.push("お名前をご記入ください")
              }
              else if (this.inputData.step4.info.birthday == null) {
                this.errors.push("誕生年をご選択ください")
              }
              else {
                this.changeFormStep(1)
              }
            }
            else if (this.formStep == 5) {
              if (this.inputData.step5.tel == "") {
                this.errors.push("電話番号を入力してください")
                return false
              }
            }


          },
          searchCity(prefecture) {
            console.log(prefecture)
            Object.keys(this.citys).forEach((item, index) => {
              console.log(item)
              if (citys[item].name == prefecture) {
                console.log(citys[item].city)
                this.selected_city = citys[item].city
              }
            })
          }
        },
        created() {
          const year = new Date().getFullYear()
          const maxAge = 117

          const start = year - maxAge
          const end = year


          const years = [...Array(end - start + 1).keys()].map(i => start + i)
          const descYears = years.sort((a, b) => {
            return (a < b ? 1 : -1)
          })
          this.birthday = descYears
        },
        mounted() {
          const _this = this

          document.addEventListener("click", function (event) {
            const target = event.target.closest("#modal")
            if (_this.isOpenModal1 && target == null) {
              _this.closeModal1()
            }
          })

          console.log(citys)
          this.citys = citys
        }
      })
    }

    /** 初期化 **/
    function initialize() {
      createApp()
    }

    document.addEventListener("DOMContentLoaded", initialize.bind(this))


  </script>
</body>

</html>